[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2 = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
flask-cors = "*"
pyjwt = "*"
pillow = "*"
numpy = "*"
opencv-python = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.9"
